##
# Copyright (C) 2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "ZXC: Retrieve Upstream Versions"
# This reusable component is called by the following workflows:
# - .github/workflows/flow-pull-request-checks.yaml
# - .github/workflows/flow-build-application.yaml

on:
  workflow_call:
    inputs:
      explicit-runner-version:
        description: "Runner Version:"
        type: string
        required: false
        default: ""
      explicit-hooks-version:
        description: "Container Hooks Version:"
        type: string
        required: false
        default: ""
      custom-job-label:
        description: "Custom Job Label"
        type: string
        required: false
        default: "Check"
    outputs:
      tag:
        description: "Tag Version"
        value: ${{ jobs.versions.outputs.tag-version }}
      runner:
        description: "Runner Version"
        value: ${{ jobs.versions.outputs.runner-version }}
      hooks:
        description: "Container Hooks Version"
        value: ${{ jobs.versions.outputs.hooks-version }}

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  versions:
    name: ${{ inputs.custom-job-label || 'Check' }}
    runs-on: ubuntu-24.04
    outputs:
      tag-version: ${{ steps.tag.outputs.version }}
      runner-version: ${{ steps.runner.outputs.version }}
      hooks-version: ${{ steps.hooks.outputs.version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install GH CLI
        uses: step-security/setup-gh-cli-action@7772f40c95d3e826fa1dca4844b9117a52493df5 # v3.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Authorize GH CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Install JQ CLI
        run: |
          if ! command -v jq >/dev/null 2>&1; then
            echo "::group::Updating APT Repository Indices"
              sudo apt update
            echo "::endgroup::"
            echo "::group::Installing JQ CLI"
              sudo apt install -y jq
            echo "::endgroup::"
          fi

      - name: Install SemVer CLI
        run: |
          echo "::group::Download SemVer Binary"
            sudo curl -L -o /usr/local/bin/semver https://raw.githubusercontent.com/fsaintjacques/semver-tool/master/src/semver
          echo "::endgroup::"
          echo "::group::Change SemVer Binary Permissions"
            sudo chmod -v +x /usr/local/bin/semver
          echo "::endgroup::"
          echo "::group::Show SemVer Binary Version Info"
            semver --version
          echo "::endgroup::"

      - name: Validate Explicit Runner Version
        id: explicit-runner
        if: ${{ inputs.explicit-runner-version != '' }}
        run: |
          VERSION="$(semver get release "${{ inputs.explicit-runner-version }}")"
          echo "version=${VERSION}" >>"${GITHUB_OUTPUT}"

      - name: Retrieve Runner Version
        id: runner
        run: |
          TARGET_TAG="v${{ steps.explicit-runner.outputs.version || '' }}"
          [[ "${TARGET_TAG}" == "v" ]] && TARGET_TAG=""
          LATEST_TAG="$(gh release view ${TARGET_TAG} -R actions/runner --json tagName | jq -r '.tagName')"
          VERSION="$(semver get release ${LATEST_TAG})"
          echo "version=${VERSION}" >>"${GITHUB_OUTPUT}"

      - name: Validate Explicit Hooks Version
        id: explicit-hooks
        if: ${{ inputs.explicit-hooks-version != '' }}
        run: |
          VERSION="$(semver get release "${{ inputs.explicit-hooks-version }}")"
          echo "version=${VERSION}" >>"${GITHUB_OUTPUT}"

      - name: Retrieve Runner Container Hooks Version
        id: hooks
        run: |
          TARGET_TAG="v${{ steps.explicit-hooks.outputs.version || '' }}"
          [[ "${TARGET_TAG}" == "v" ]] && TARGET_TAG=""
          LATEST_TAG="$(gh release view ${TARGET_TAG} -R actions/runner-container-hooks --json tagName | jq -r '.tagName')"
          VERSION="$(semver get release ${LATEST_TAG})"
          echo "version=${VERSION}" >>"${GITHUB_OUTPUT}"

      - name: Tag Version Information
        id: tag
        run: |
          RELEASE="$(semver get release "${{ inputs.explicit-runner-version || steps.runner.outputs.version }}")"
          BUILD="$(semver get build "${{ inputs.explicit-runner-version || steps.runner.outputs.version }}")"

          VERSION="${RELEASE}"
          [[ -n "${BUILD}" ]] && VERSION="${VERSION}+${BUILD}"

          echo "version=${VERSION}" >>"${GITHUB_OUTPUT}"
