##
# Copyright (C) 2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "ZXC: Build ScaleSet Images"
# This reusable component is called by the following workflows:
# - .github/workflows/flow-pull-request-checks.yaml
# - .github/workflows/flow-build-application.yaml

on:
  workflow_call:
    inputs:
      ## Base Operating System Image
      ## Options include:
      ## - ubuntu-22.04
      ## - ubuntu-24.04
      ## - debian-bookworm
      base-os-image:
        description: "Operating System Image:"
        type: string
        required: true

      ## The tag version to be used
      tag-version:
        description: "Tag Version:"
        type: string
        required: true

      ## Upstream Github Action Runner Version
      runner-version:
        description: "Runner Version:"
        type: string
        required: true

      ## Upstream Github Action Runner Container Hooks Version
      runner-container-hooks-version:
        description: "Container Hooks Version:"
        type: string
        required: false
        default: "0.8.0"

      ## Upstream Docker Version
      docker-version:
        description: "Docker Version:"
        type: string
        required: false
        default: "29.1.3"

      ## Upstream Docker Buildx Version
      docker-buildx-version:
        description: "Docker Buildx Version:"
        type: string
        required: false
        default: "0.30.1"

      # Upstream Github CLI Version
      gh-cli-version:
        description: "Github CLI Version:"
        type: string
        required: false
        default: "2.54.0"

      ## Linux Architectures for Multi-Arch Builds
      platforms:
        description: "Platforms:"
        type: string
        required: false
        default: "linux/amd64"

      dry-run-enabled:
        description: "Perform Dry Run"
        type: boolean
        required: false
        default: false

      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Build"

defaults:
  run:
    shell: bash

env:
  TOOL_CACHE_ARTIFACT_NAME: "tool-cache.tar.gz"

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  create-tool-cache:
    name: Create Tool Cache
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install WGet
        run: sudo apt update && sudo apt install -y --no-install-recommends wget

      - name: Clear Hosted Tool Cache
        run: rm -rvf "${{ runner.tool_cache }}"/*

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: "21"

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: "25"

      - name: Setup NodeJS 22
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Setup NodeJS 24
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Setup GoLang 1.25
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"

      - name: Setup Kind
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          install_only: true

      - name: Setup Helm Latest
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - name: Setup Docker Buildx Support
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.30.1
          driver-opts: network=host

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - name: Archive Tool Cache
        working-directory: ${{ runner.tool_cache }}
        run: tar -czf ${{ env.TOOL_CACHE_ARTIFACT_NAME }} *

      - name: Upload Tool Cache
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "ScaleSet Tools (${{ inputs.base-os-image }})"
          retention-days: 1
          path: ${{ runner.tool_cache }}/${{ env.TOOL_CACHE_ARTIFACT_NAME }}

  build-scaleset-images:
    name: ${{ inputs.custom-job-label || 'Build' }}
    runs-on: ubuntu-24.04
    needs:
      - create-tool-cache
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Download Tool Cache
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: "ScaleSet Tools (${{ inputs.base-os-image }})"
          path: ${{ github.workspace }}/scaleset/runner/tools

      - name: Unpack Tool Cache
        run: |
          tar -xzf ${{ github.workspace }}/scaleset/runner/tools/${{ env.TOOL_CACHE_ARTIFACT_NAME }} -C ${{ github.workspace }}/scaleset/runner/tools/
          rm -f ${{ github.workspace }}/scaleset/runner/tools/${{ env.TOOL_CACHE_ARTIFACT_NAME }}

      - name: Setup QEmu Support
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Setup Docker Buildx Support
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.30.1
          driver-opts: network=host

      - name: Show Docker Version
        run: docker version

      - name: Show Docker Info
        run: docker info

      - name: Docker Login (Github)
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        if: ${{ inputs.dry-run-enabled != true }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Calculate Docker Registry
        id: registry
        run: |
          DOCKER_REGISTRY_PREFIX="ghcr.io/${{ github.repository }}"
          IMG_RESULT="push"

          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            DOCKER_REGISTRY_PREFIX="local"
            IMG_RESULT="cache"
          fi

          echo "prefix=${DOCKER_REGISTRY_PREFIX}" >>"${GITHUB_OUTPUT}"
          echo "operation=${IMG_RESULT}" >>"${GITHUB_OUTPUT}"

      - name: Calculate Docker Tag
        id: docker-tag
        run: |
          TAG_VERSION="${{ inputs.tag-version || inputs.runner-version }}"
          echo "version=${TAG_VERSION//+/-}" >>"${GITHUB_OUTPUT}"

      - name: Build Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ github.workspace }}/scaleset/runner
          platforms: ${{ inputs.platforms }}
          push: ${{ steps.registry.outputs.operation == 'push' }}
          load: ${{ steps.registry.outputs.operation == 'load' }}
          tags: |
            ${{ steps.registry.outputs.prefix }}/scaleset-runner:${{ inputs.base-os-image }}
            ${{ steps.registry.outputs.prefix }}/scaleset-runner:v${{ steps.docker-tag.outputs.version }}-${{ inputs.base-os-image }}
          build-args: |
            TARGET_OS=linux
            TARGET_ARCH=amd64
            RUNNER_VERSION=${{ inputs.runner-version }}
            RUNNER_CONTAINER_HOOKS_VERSION=${{ inputs.runner-container-hooks-version }}
            DOCKER_VERSION=${{ inputs.docker-version }}
            BUILDX_VERSION=${{ inputs.docker-buildx-version }}
            GH_CLI_VERSION=${{ inputs.gh-cli-version }}
            BASE_OS_VERSION=${{ case(inputs.base-os-image == 'debian-bookworm', 'bookworm-slim', inputs.base-os-image == 'ubuntu-22.04', 'jammy', inputs.base-os-image == 'ubuntu-24.04', 'noble', 'unknown') }}
